{% extends 'base.html' %}
{% load static %}

{% block main-body %}
<!-- <div class="container bg-secondary m-4 p-2 rounded">
    <h1 class=" text-center text-light  h2">Home</h1>
</div> -->

<div class="container">
    <div class="text-center m-5">
        <img src="{% static 'images/rohan.jpg' %}" class="rounded-circle" alt="no image" width=220px>
    </div>
    <div class="text-center">
        <p class="fs-3">Hi I am Rohan</p>
    </div>
    <div class="m-3 p-2">
        <p class="fs-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum totam illum consequuntur expedita, ea harum reiciendis magni voluptate aut, reprehenderit eveniet deleniti suscipit, dolorem praesentium sapiente! Esse porro obcaecati quas, fugiat dolor numquam quam officiis impedit saepe omnis quaerat veritatis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem cum commodi laboriosam ea, ipsum culpa sit nulla nihil iusto quo omnis quibusdam error voluptatem distinctio laborum quasi officiis unde ex! Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam voluptatem, incidunt perferendis, quo laborum placeat quia dolorem rerum aut sint vel inventore autem, repellat quisquam temporibus odio quibusdam voluptatibus tempore!</p>
    </div>
</div>

{% endblock main-body %}