{% extends 'base.html' %}
{% load static %}

{% block main-body %}

<div class="container">
    <div class="container bg-secondary m-4 p-2 rounded shadow">
        <h1 class=" text-center text-light  h2">Project Details</h1>
    </div>
    <div class="m-4 p-2 shadow">
        <div>
            <h4 class="fw-bold text-primary ">Academic Final Year Project:  </h4>
        </div>
        <div class="ms-3 mt-3">
            <span class="fs-5 fw-bold"> Project Title</span><span class="fs-5">  :  Implementation of Bluetooth controlled surveillance vehicle using Arduino UNO</span>
        </div>
        <div class="ms-3">
            <span class="fs-5 fw-bold">Project Description</span><span class="fs-5"> :  Implementation of a working Bluetooth controlled surveillance vehical with obstacle avoiding capability along with path tracking system which cam be used for the purpose of security and routine surveillance in multiple senarios.</span>
        </div>
    </div>
    
    

    <div class="m-4 p-2 shadow">
        <div>
            <h4 class="fw-bold text-primary ">Squad Infotech Mini Project: </h4>
        </div>
        <div class="ms-3 mt-3">
            <span class="fs-5 fw-bold"> Project Title</span><span class="fs-5">  :  Survey Application (CLI).</span>
        </div>
        <div class="ms-3">
            <span class="fs-5 fw-bold">Project Description</span><span class="fs-5"> :  An application which can be used for the purpose of conducting the surveys for multiple uses, information stored can be used for the building records. Also managing the volunteer accounts and their basic information can be done using the application as well as the admin portal with few admin rights is also provided.</span> 
        </div>
    </div>



    <div class="m-4 p-2 shadow">
        <div>
            <h4 class="fw-bold text-primary ">Self Made Mini Project:  </h4>
        </div>
        <div class="ms-3 mt-3">
            <span class="fs-5 fw-bold"> Project Title</span><span class="fs-5">  : Theater Management Application (CLI). </span>
        </div>
        <div class="ms-3">
            <span class="fs-5 fw-bold">Project Description</span><span class="fs-5"> : The management of a well set theater with different anomalies like ticket booking, parking booking and food pre ordering along with staff management by maintaining data in systematic manner and managing proper staff records can be achieved by this application. Also the admin portal with plenty of admin rights is an additional included option inside the application.</span>
        </div>
    </div>


</div>


{% endblock main-body %}    