{% extends 'base.html' %}

{% block main-body %}
<div class="container">
    <div class="container bg-secondary m-4 p-2 rounded shadow">
        <h1 class=" text-center text-light  h2">Thank You</h1>
    </div>
    
    <div class="m-4 p-2 ">
    <h6> <a href="{% url 'home' %}"> <b> Back To Home </b></a></h6>
    </div>

    <div class="container border shadow m-3 p-1 fst-italic text-decoration-underline">
        <h1 class="display-6 text-center p-3" > <strong> Thank You For Contacting Me </strong></h1>
    </div>

</div>
{% endblock main-body %}