{% extends 'resume/base.html' %}



{% block title %}
<title>Candidate_info Page</title>
{% endblock title %}



{% block css %}

{% endblock css %}


{% block body %}

<div class="container my-3">

    <div class="text-center p-2 mb-3 shadow">
        <h4 class="fw-bold">Candidate Info</h4>
    </div>

    <div class="container mb-3 border-bottom p-3">

        <div class="p-2 mb-3 ">
            <img src="{{ data.profile_photo.url }}" alt="No Image" height="200px">
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>First Name : </span> {{data.fname}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Last Name : </span> {{data.lname}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Date of Birth : </span> {{data.D_o_b}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Gender : </span> {{data.gender}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Languages : </span> {{data.language}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Locality : </span> {{data.locality}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>City : </span> {{data.city}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>State : </span> {{data.state}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Pin Code : </span> {{data.pin}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Contact : </span> {{data.contact}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Email : </span> {{data.email}}
        </div>

        <div class="p-2 mb-1 border-bottom">
            <span>Prefered Language : </span> {{data.prefered_language}}
        </div>

        <div class="p-2 mb-1 mt-3">
            <a class="btn btn-danger me-3" href="{% url 'delete' data.id %}">Delete</a>
            <a class="btn btn-primary me-3" href="{% url 'update' data.id %}">Update</a>
        </div>


    </div>
    
</div>

{% endblock body %}